div(id='controls')
    img(src='assets/wasd.png')
    div
        p To maneuver your stone you can use the QASDE-Keys
        ul(style='list-style:none;')
            li.
                #[strong Q] rotates your stone to the left
            li.
                #[strong E] rotates your stone to the right
            li.
                #[strong A] moves your stone to the left
            li.
                #[strong D] moves your stone to the right
            li.
                #[strong S] drops your stone
        p.
            If you are the creator of a game or the only/first person
            #[br]in one of the default games you can also pause or end the game
        ul(style='list-style:none;')
            li.
                #[strong P] pauses the game
            li.
                #[strong ESC] ends the game
