div(id='controls')
	img(src='wasd.png')
	div
		p To maneuver your stone you can use the QASDE-Keys
		ul(style='list-style:none;')
			li Q-Key rotates your stone to the left
			li E-Key rotates your stone to the right
			li A-Key moves your stone to the left
			li D-Key moves your stone to the right
			li S-Key drops your stone
