doctype html
html(lang='en')
    head
        title Metris
        meta(charset='utf-8')

        link(rel='stylesheet', href='style.css')

        script(src='socket.io/socket.io.js', type='text/javascript')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src='client.js', type='text/javascript')

        script(src='webgl.js', type='text/javascript')
        script(src="sylvester.js", type="text/javascript")
        script(src='glUtils.js', type='text/javascript')

        script(id='shader-fs', type='x-shader/x-fragment').
            varying highp vec2 vTextureCoord;
            varying highp vec3 vLighting;

            uniform sampler2D uSampler;

            void main(void) {
                highp vec4 texelColor = texture2D(uSampler, vec2(vTextureCoord.s, vTextureCoord.t));

                gl_FragColor = vec4(texelColor.rgb * vLighting, texelColor.a);
            }

        script(id='shader-vs', type='x-shader/x-vertex').
            attribute highp vec3 aVertexNormal;
            attribute highp vec3 aVertexPosition;
            attribute highp vec2 aTextureCoord;

            uniform highp mat4 uNormalMatrix;
            uniform highp mat4 uMVMatrix;
            uniform highp mat4 uPMatrix;

            varying highp vec2 vTextureCoord;
            varying highp vec3 vLighting;

            void main(void) {
                gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
                vTextureCoord = aTextureCoord;

                // Apply lighting effect

                highp vec3 ambientLight = vec3(0.6, 0.6, 0.6);
                highp vec3 directionalLightColor = vec3(0.5, 0.5, 0.75);
                highp vec3 directionalVector = vec3(0.85, 0.8, 0.75);

                highp vec4 transformedNormal = uNormalMatrix * vec4(aVertexNormal, 1.0);

                highp float directional = max(dot(transformedNormal.xyz, directionalVector), 0.0);
                vLighting = ambientLight + (directionalLightColor * directional);
            }

    body
        nav(id='topnav')
            ul(id='nav-list')
                li
                    a(class='active', id='get-lobbies', href='#') Lobbies
                li
                    a(href='#', id='get-scores') Highscores
                if inGame
                    li
                        a(href='#', id='get-game') Game
        section(id='content') Content here ...
        footer
            p Metris
            p LOGO HERE
            p Franziska Becker &amp; René Warnking
