button(id='create-lobby') Create Lobby

div(class='modal', id='create-modal')
    div(class='modal-content')
        span(class='close' id='close-create-modal') &times;
        span(class='create-entry')
            label(for='lobby-name') Lobby Name
            input(type='text', id='lobby-name', required)
        span(class='create-entry')
            label(for='field-width') Field Width
            select(id='field-width')
                option 30
                option 40
                option 60
                option 100
        span(class='create-entry')
            label(for='field-height') Field Height
            select(id='field-height')
                option 16
                option 20
                option 40
                option 60
        button(type='submit', id='submit-lobby') Create


ul(class='lobby-list')
    each lobby in lobbies
        li(class='lobby-entry', id=lobby.name) #{lobby.name}
            div(id='lobb-button-container')
                button(class='lobby-button', id=lobby.name+'-join') Join
                button(class='watch-button', id=lobby.name+'-watch') Watch