html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

footer {
    margin: 0;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    color: white;
}

#game-over {
    display: none;
    position: absolute;
    left: 45%;
    top: 40%;
    color: white;
    font-weight: bold;
}

#gamover-text {
    font-size: 5;
}

#player-name {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    padding-right: 10px;
    color: white;
    font-weight: bold;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FEFEFE;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    align-self: flex-end;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.active,
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.canvas-container {
    position: relative;
}

#glcanvas {
    margin: 0;
    border: 0;
    overflow: hidden;
    display: block;
}

#scoretext {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
}

.lobby-list, .score-list  {
    list-style: none;
}

#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav-list li {
    float: left;
}

#nav-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-list li a:hover {
    background-color: #606060;
}

.lobby-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #44AB4B;
    background-color: #44AB4B;
}

.lobby-button:hover {
    background-color: #B5DE86;
}

.lobby-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C0C0C0;
    border-radius: 25px;
    padding: 15px;
    margin: 5px;
}

#create-lobby {
    border-radius: 25px;
    margin-top: 5px;
    background-color: #82BCD1;
}