html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

footer {
    margin: 0;
    background-color: #333333;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    color: white;
    margin: 10px;
}

#controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 10%;
}

#game-over {
    display: none;
    position: absolute;
    left: 45%;
    top: 40%;
    color: white;
    font-weight: bold;
}

#gamover-text {
    font-size: 5;
}

#player-info {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    padding-right: 10px;
    color: white;
    font-weight: bold;
}

#player-name {
    margin-right: 5px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FEFEFE;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

.create-entry {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

/* The Close Button */
.close {
    align-self: flex-end;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.active,
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.canvas-container {
    position: relative;
}

#glcanvas {
    margin: 0;
    border: 0;
    overflow: hidden;
    display: block;
}

#scoretext {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
}

#leveltext {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
}

.lobby-list {
    color: black;
    width: 100%;
}

.lobby-entry-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: #D4D4D4;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
}

.lobby-entry {
    margin-left: 20px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.lobby-entry-container#lobby-desc {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: white;
    font-weight:  bold;
}

#lobby-desc > .lobby-entry {
    height: 10px;
    line-height: 10px;
    vertical-align: middle;
}

#lobby-actions, .lobby-button-container {
    display: flex;
    justify-content: flex-end;
}

.score-list {
    padding-top: 20px;
    color: black;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.score-desc {
    font-weight: bold;
    margin-bottom: 15px;
}

.score-entry {
    margin-left: 20px;
}

#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav-list li {
    float: left;
}

#nav-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-list li a:hover {
    background-color: #171717;
}

.lobby-button, .watch-button {
    border-radius: 10%;
    width: 100px;
    height: 40px;
    border: 1px solid #6794A5;
    background-color: #82BCD1;
    margin: 5px;
}

.lobby-button:hover, .watch-button:hover {
    background-color: #6794A5;
}

.joined {
    background-color: #DB4237;
}

.joined:hover {
    background-color: #A90D02;
}

.nonspec {
    background-color: #65CE3F;
}

.nonspec:hover {
    background-color: #429B22;
}

#create-lobby {
    border-radius: 25px;
    margin-top: 5px;
    background-color: #82BCD1;
}

#create-lobby:hover {
    background-color: #6794A5;
}

#login-button {
    border-radius: 25px;
    background-color: #82BCD1;
}

#login-button:hover {
    background-color: #6794A5;
}